{
  "openapi": "3.1.1",
  "$self": "http:\/\/kr-api.l.d7c.de\/v6\/openapi",
  "info": {
    "title": "Klickrhein API",
    "description": "Klickrhein Modules API",
    "version": "v6",
    "license": {
      "name": "Proprietary \u2013 Internal Use Only",
      "url": "https:\/\/api.klickrhein.de\/v6\/license.txt"
    }
  },
  "servers": [
    {
      "url": "https:\/\/api.klickrhein.de\/v6",
      "description": "Production server"
    },
    {
      "url": "http:\/\/kr-api.l.d7c.de\/v6",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "description": "Klickrhein API-Key",
        "type": "apiKey",
        "name": "Api-Key",
        "in": "header"
      }
    },
    "schemas": {
      "Pong": {
        "description": "Pong",
        "type": "object",
        "properties": { "ping": { "type": "string" } },
        "required": ["ping"]
      },
      "HealthStatus": {
        "description": "API health status",
        "type": "object",
        "properties": {
          "context": { "type": "string" },
          "model": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "datastore": { "type": "string" },
              "managed": { "type": "boolean" }
            },
            "required": ["name", "datastore", "managed"]
          },
          "datastore": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "status": { "type": "string" }
            },
            "required": ["id", "status"]
          },
          "user": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "name": { "type": "string" },
              "superuser": { "type": "boolean" }
            },
            "required": ["id", "name", "superuser"]
          }
        },
        "required": ["context", "model", "datastore", "user"]
      },
      "Article": {
        "description": "Article",
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "module": { "type": "integer" },
          "slug": { "type": "string" },
          "title": { "type": "string" },
          "date": { "type": "string", "format": "date-time" },
          "teaser": { "type": "string" },
          "image": {
            "oneOf": [
              { "$ref": "#\/components\/schemas\/Image" },
              { "type": "null" }
            ]
          },
          "pdf": {
            "oneOf": [
              { "$ref": "#\/components\/schemas\/PDF" },
              { "type": "null" }
            ]
          },
          "website": { "type": ["string", "null"], "format": "url" },
          "author": { "type": ["string", "null"] },
          "content": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/ArticleParagraph" }
          }
        },
        "required": ["id", "module", "title", "slug", "date", "teaser"]
      },
      "ArticleParagraph": {
        "description": "ArticleParagraph",
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": ["string", "null"] },
          "text": { "type": ["string", "null"] },
          "image": {
            "oneOf": [
              { "$ref": "#\/components\/schemas\/Image" },
              { "type": "null" }
            ]
          }
        },
        "required": ["id"]
      },
      "Articles": {
        "description": "Articles",
        "type": "object",
        "properties": {
          "articles": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/Article" }
          },
          "meta": {
            "type": "object",
            "properties": { "totalCount": { "type": "integer" } }
          }
        },
        "required": ["articles", "meta"]
      },
      "Event": {
        "description": "Event",
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "module": { "type": "integer" },
          "slug": { "type": "string" },
          "title": { "type": "string" },
          "teaser": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "address": { "type": ["string", "null"] },
          "starts": { "type": "string", "format": "date-time" },
          "ends": { "type": "string", "format": "date-time" },
          "image": {
            "oneOf": [
              { "$ref": "#\/components\/schemas\/Image" },
              { "type": "null" }
            ]
          },
          "pdf": {
            "oneOf": [
              { "$ref": "#\/components\/schemas\/PDF" },
              { "type": "null" }
            ]
          },
          "commune": { "type": ["string", "null"] },
          "ticketshopURL": { "type": ["string", "null"] },
          "organizer": { "type": ["string", "null"] },
          "ownerURL": { "type": ["string", "null"] },
          "coordinates": {
            "oneOf": [
              { "type": "null" },
              {
                "type": "array",
                "prefixItems": [{ "type": "number" }, { "type": "number" }]
              }
            ]
          },
          "flags": { "type": "array", "items": { "type": "string" } },
          "tags": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/Tag" }
          },
          "images": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/Image" }
          }
        },
        "required": ["id", "module", "slug", "title", "starts", "ends"]
      },
      "Events": {
        "description": "Events",
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/Event" }
          },
          "meta": {
            "type": "object",
            "properties": { "totalCount": { "type": "integer" } }
          }
        },
        "required": ["events", "meta"]
      },
      "PhotoAlbum": {
        "description": "Photo Album",
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "module": { "type": "integer" },
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "images": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/Image" }
          }
        },
        "required": ["id", "module", "title", "slug"]
      },
      "PhotoAlbums": {
        "description": "Photo Albums",
        "type": "object",
        "properties": {
          "albums": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/PhotoAlbum" }
          },
          "meta": {
            "type": "object",
            "properties": { "totalCount": { "type": "integer" } }
          }
        },
        "required": ["albums", "meta"]
      },
      "MenuCard": {
        "description": "Menu card",
        "type": "object",
        "properties": {
          "menuCard": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "description": { "type": ["string", "null"] },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "name": { "type": "string" },
                      "description": { "type": ["string", "null"] },
                      "price": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "value": { "type": "number" },
                              "formatted": { "type": "string" }
                            }
                          },
                          { "type": "null" }
                        ]
                      },
                      "image": { "$ref": "#\/components\/schemas\/Image" }
                    },
                    "required": ["id", "name"]
                  }
                }
              },
              "required": ["name", "items"]
            }
          }
        }
      },
      "AddressbookEntries": {
        "description": "AddressbookEntries",
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/AddressbookEntry" }
          },
          "meta": {
            "type": "object",
            "properties": { "totalEntryCount": { "type": "integer" } }
          }
        },
        "required": ["entries", "meta"]
      },
      "AddressbookEntry": {
        "description": "AddressbookEntry",
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "module": { "type": "integer" },
          "title": { "type": ["string", "null"] },
          "subtitle": { "type": ["string", "null"] },
          "name": { "type": ["string", "null"] },
          "room": { "type": ["string", "null"] },
          "address": { "type": ["string", "null"] },
          "zip": { "type": ["string", "null"] },
          "city": { "type": ["string", "null"] },
          "phone": { "type": ["string", "null"] },
          "mobile": { "type": ["string", "null"] },
          "fax": { "type": ["string", "null"] },
          "email": { "type": ["string", "null"], "format": "email" },
          "web": { "type": ["string", "null"], "format": "url" },
          "description": { "type": ["string", "null"] },
          "priority": { "type": ["integer", "null"] },
          "alpha": { "type": ["string", "null"] },
          "image": {
            "oneOf": [
              { "$ref": "#\/components\/schemas\/Image" },
              { "type": "null" }
            ]
          },
          "keywords": { "type": ["string", "null"] },
          "vocabularies": {
            "oneOf": [
              { "$ref": "#\/components\/schemas\/TagsByVocabularies" },
              { "type": "null" }
            ]
          }
        },
        "required": ["id", "module"]
      },
      "AddressbookCategory": {
        "description": "Addressbook category",
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "module": { "type": "integer" },
          "priority": { "type": ["integer", "null"] },
          "title": { "type": ["string", "null"] },
          "entries": {
            "type": ["array", "null"],
            "items": {
              "oneOf": [
                { "$ref": "#\/components\/schemas\/AddressbookEntry" },
                { "type": "null" }
              ]
            }
          }
        },
        "required": ["id", "module", "priority", "title"]
      },
      "AddressbookCategories": {
        "description": "Addressbook categories",
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/AddressbookCategory" }
          },
          "meta": {
            "type": "object",
            "properties": { "totalCategoryCount": { "type": "integer" } }
          }
        },
        "required": ["categories", "meta"]
      },
      "MailerMessageRequestBody": {
        "description": "Message request body",
        "type": "object",
        "properties": {
          "module-id": { "description": "Module id", "type": "integer" },
          "email": { "type": "string", "format": "email" }
        },
        "required": ["module-id", "email"],
        "additionalProperties": true
      },
      "FileDownloads": {
        "description": "FileDownloads",
        "type": "object",
        "properties": {
          "downloads": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/FileDownload" }
          },
          "meta": {
            "type": "object",
            "properties": { "totalDownloadCount": { "type": "integer" } }
          }
        },
        "required": ["downloads", "meta"]
      },
      "FileDownload": {
        "description": "File Download",
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "module": { "type": "integer" },
          "category": { "type": "integer" },
          "title": { "type": "string" },
          "number": { "type": "string" },
          "description": { "type": "string" },
          "priority": { "type": "integer" },
          "filename": { "type": "string" },
          "path": { "type": "string" },
          "size": { "type": "number" },
          "thumb": { "type": "string" },
          "date": { "type": "string", "format": "date-time" },
          "url": { "type": "string" },
          "image": { "$ref": "#\/components\/schemas\/Image" }
        },
        "required": [
          "id",
          "module",
          "title",
          "path",
          "size",
          "filename",
          "date",
          "url"
        ]
      },
      "FileDownloadCategory": {
        "description": "File Download Category",
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "module": { "type": "integer" },
          "title": { "type": "string" },
          "priority": { "type": "integer" },
          "downloads": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/FileDownload" }
          }
        },
        "required": ["id", "module", "priority"]
      },
      "FileDownloadCategories": {
        "description": "File Download Category",
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/FileDownloadCategory" }
          },
          "meta": {
            "type": "object",
            "properties": { "totalCategoryCount": { "type": "integer" } },
            "required": ["totalCategoryCount"]
          }
        },
        "required": ["categories", "meta"]
      },
      "BookingPlan": {
        "description": "Booking plan",
        "type": "object",
        "properties": {
          "module": { "type": "integer" },
          "blockedDays": {
            "type": "array",
            "items": { "type": "string", "format": "date" }
          },
          "lastChange": { "type": ["string", "null"], "format": "date" }
        },
        "required": ["module", "blockedDays", "lastChange"]
      },
      "ShopPreformattedNumber": {
        "description": "Preformatted currency value",
        "type": "object",
        "properties": {
          "value": { "type": "number" },
          "formatted": { "type": "string" }
        },
        "required": ["value", "formatted"]
      },
      "ShopPath": {
        "description": "Shop path",
        "type": "array",
        "items": { "$ref": "#\/components\/schemas\/ShopPathItem" }
      },
      "ShopPathItem": {
        "description": "Shop path item",
        "type": "object",
        "properties": {
          "id": { "type": "integer", "exclusiveMinimum": 0 },
          "name": { "type": "string" },
          "slug": { "type": "string" }
        },
        "required": ["id", "name", "slug"]
      },
      "ShopInfo": {
        "description": "Info",
        "type": "object",
        "properties": {
          "owner": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "name": { "type": "string" },
              "phone": { "type": "string" },
              "address": { "type": "string" },
              "zip": { "type": "string" },
              "city": { "type": "string" },
              "web": { "type": "string", "format": "url" },
              "email": { "type": "string", "format": "email" }
            },
            "required": ["id", "name"]
          },
          "shippingCost": {
            "type": "object",
            "properties": {
              "rates": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "threshold": { "type": "number" },
                    "rate": {
                      "$ref": "#\/components\/schemas\/ShopPreformattedNumber"
                    }
                  },
                  "required": ["threshold", "rate"]
                }
              },
              "freeShippingThreshold": {
                "$ref": "#\/components\/schemas\/ShopPreformattedNumber"
              },
              "unit": { "type": "string" },
              "text": { "type": "string" }
            },
            "required": ["rates", "freeShippingThreshold", "unit", "text"]
          },
          "supplementalCost": {
            "allOf": [
              { "$ref": "#\/components\/schemas\/ShopPreformattedNumber" },
              {
                "type": "object",
                "properties": { "description": { "type": "string" } }
              }
            ]
          }
        },
        "required": ["owner", "shippingCost", "supplementalCost"]
      },
      "ShopCart": {
        "description": "Cart",
        "type": "object",
        "properties": {
          "gross": { "$ref": "#\/components\/schemas\/ShopPreformattedNumber" },
          "total": { "$ref": "#\/components\/schemas\/ShopPreformattedNumber" },
          "weight": { "type": "number" },
          "products": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/ShopCartProduct" }
          },
          "shipping": {
            "type": "object",
            "properties": {
              "price": {
                "$ref": "#\/components\/schemas\/ShopPreformattedNumber"
              },
              "unit": { "type": "string" }
            }
          },
          "supplementalCost": {
            "allOf": [
              { "$ref": "#\/components\/schemas\/ShopPreformattedNumber" },
              {
                "type": "object",
                "properties": { "description": { "type": ["string", "null"] } }
              }
            ]
          }
        },
        "required": ["gross", "total", "weight", "products", "shipping"]
      },
      "ShopCartProduct": {
        "description": "Cart product",
        "type": "object",
        "properties": {
          "product": { "$ref": "#\/components\/schemas\/ShopProduct" },
          "quantity": { "type": "integer", "exclusiveMinimum": 0 },
          "weight": { "type": "number", "minimum": 0 },
          "total": { "$ref": "#\/components\/schemas\/ShopPreformattedNumber" }
        }
      },
      "ShopCartUpdateRequestBody": {
        "description": "Cart update request body",
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "productId": { "type": "integer", "exclusiveMinimum": 0 },
            "quantity": { "type": "integer", "minimum": 0 }
          },
          "required": ["productId", "quantity"]
        }
      },
      "ShopProductGroup": {
        "description": "Product group",
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "path": { "$ref": "#\/components\/schemas\/ShopPath" },
          "name": { "type": ["string", "null"] },
          "slug": { "type": ["string"] },
          "description": { "type": ["string"] },
          "subgroups": {
            "type": ["array", "null"],
            "items": { "$ref": "#\/components\/schemas\/ShopProductGroup" }
          }
        }
      },
      "ShopOrder": {
        "description": "Order",
        "type": "object",
        "properties": {
          "date": { "type": ["string", "null"], "format": "date" },
          "transactionId": {
            "anyOf": [
              { "$ref": "#\/components\/schemas\/ShopTransactionId" },
              { "type": "null" }
            ]
          },
          "paymentType": {
            "$ref": "#\/components\/schemas\/ShopOrderPaymentType"
          },
          "address": {
            "$ref": "#\/components\/schemas\/ShopOrderPartialAdress"
          },
          "deliveryAddress": {
            "anyOf": [
              {
                "$ref": "#\/components\/schemas\/ShopOrderPartialDeliveryAdress"
              },
              { "type": "null" }
            ]
          },
          "message": { "type": ["string", "null"] },
          "total": { "$ref": "#\/components\/schemas\/ShopPreformattedNumber" },
          "shippingCost": {
            "$ref": "#\/components\/schemas\/ShopPreformattedNumber"
          },
          "cart": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "price": {
                  "$ref": "#\/components\/schemas\/ShopPreformattedNumber"
                },
                "total": {
                  "$ref": "#\/components\/schemas\/ShopPreformattedNumber"
                },
                "id": { "type": "integer" },
                "code": { "type": "string" },
                "name": { "type": "string" },
                "description": { "type": "string" },
                "quantity": { "type": "integer" }
              }
            }
          }
        }
      },
      "ShopOrderPatchRequestBody": {
        "description": "Patch order request body",
        "type": "object",
        "properties": {
          "address": {
            "anyOf": [
              { "$ref": "#\/components\/schemas\/ShopOrderPartialAdress" },
              { "type": "null" }
            ]
          },
          "deliveryAddress": {
            "anyOf": [
              {
                "$ref": "#\/components\/schemas\/ShopOrderPartialDeliveryAdress"
              },
              { "type": "null" }
            ]
          },
          "message": { "type": ["string", "null"] }
        }
      },
      "ShopOrderPartialAdress": {
        "description": "Address (partial)",
        "type": "object",
        "properties": {
          "company": { "type": ["string", "null"] },
          "salutation": {
            "anyOf": [
              { "type": ["string"], "enum": ["Herr", "Frau"] },
              { "type": "null" }
            ]
          },
          "name": { "type": ["string", "null"], "minLength": 2 },
          "firstname": { "type": ["string", "null"], "minLength": 2 },
          "address": { "type": ["string", "null"], "minLength": 5 },
          "zip": { "type": ["string", "null"], "pattern": "^[0-9]{5}$" },
          "city": { "type": ["string", "null"] },
          "phone": {
            "type": ["string", "null"],
            "minLength": 5,
            "maxLength": 50
          },
          "email": { "type": ["string", "null"], "format": "email" }
        }
      },
      "ShopOrderAdress": {
        "description": "Address",
        "allOf": [{ "$ref": "#\/components\/schemas\/ShopOrderPartialAdress" }],
        "required": [
          "salutation",
          "name",
          "firstname",
          "address",
          "zip",
          "city",
          "email"
        ]
      },
      "ShopOrderPartialDeliveryAdress": {
        "description": "Delivery address (partial)",
        "properties": {
          "company": { "type": "string" },
          "name": { "type": "string", "minLength": 5 },
          "address": { "type": "string", "minLength": 5 },
          "zip": { "type": "string", "minLength": 5 },
          "city": { "type": "string", "minLength": 3 },
          "phone": { "type": "string" }
        }
      },
      "ShopOrderDeliveryAdress": {
        "description": "Delivery address",
        "allOf": [
          { "$ref": "#\/components\/schemas\/ShopOrderPartialDeliveryAdress" }
        ],
        "required": ["name", "address", "zip", "city"]
      },
      "ShopTransactionId": {
        "description": "Transaction id",
        "type": "string",
        "minLength": 8,
        "maxLength": 16
      },
      "ShopOrderPaymentType": {
        "type": "string",
        "enum": ["paypal", "prepayment"]
      },
      "ShopProduct": {
        "description": "Product",
        "type": "object",
        "properties": {
          "id": { "type": "integer", "exclusiveMinimum": 0 },
          "name": { "type": ["string", "null"] },
          "group": { "type": ["integer", "null"], "exclusiveMinimum": 0 },
          "slug": { "type": ["string", "null"] },
          "code": { "type": ["string", "null"] },
          "ean": { "type": ["string", "null"] },
          "description": { "type": ["string", "null"] },
          "teaser": { "type": ["string", "null"] },
          "legal": { "type": ["string", "null"] },
          "path": { "$ref": "#\/components\/schemas\/ShopPath" },
          "quantity": {
            "anyOf": [
              { "$ref": "#\/components\/schemas\/ShopPreformattedNumber" },
              { "type": "null" }
            ]
          },
          "weight": {
            "anyOf": [
              { "$ref": "#\/components\/schemas\/ShopPreformattedNumber" },
              { "type": "null" }
            ]
          },
          "price": {
            "anyOf": [
              { "$ref": "#\/components\/schemas\/ShopPreformattedNumber" },
              { "type": "null" }
            ]
          },
          "pricePerUnit": {
            "anyOf": [
              { "$ref": "#\/components\/schemas\/ShopPreformattedNumber" },
              { "type": "null" }
            ]
          },
          "vat": {
            "anyOf": [
              { "$ref": "#\/components\/schemas\/ShopPreformattedNumber" },
              { "type": "null" }
            ]
          },
          "image": {
            "anyOf": [
              { "$ref": "#\/components\/schemas\/Image" },
              { "type": "null" }
            ]
          },
          "pdf": {
            "anyOf": [
              { "$ref": "#\/components\/schemas\/PDF" },
              { "type": "null" }
            ]
          },
          "frontpage": { "type": ["boolean", "null"] }
        },
        "required": ["id", "path"]
      },
      "ShopPaymentCreateRequestBody": {
        "description": "Create PayPal payment request body",
        "type": "object",
        "properties": {
          "transactionId": { "type": "string", "minLength": 8, "maxLength": 12 }
        },
        "required": ["transactionId"]
      },
      "ShopPayPalOrderId": {
        "description": "PayPal payment id",
        "type": "string",
        "minLength": 17,
        "maxLength": 17
      },
      "Image": {
        "description": "Image",
        "type": "object",
        "properties": {
          "src": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "align": {
            "oneOf": [
              { "type": "string", "enum": ["left", "right", "wide", "auto"] },
              { "type": "null" }
            ]
          },
          "srcset": {
            "oneOf": [
              {
                "type": "object",
                "properties": { "small": { "type": "string" } }
              },
              { "type": "null" }
            ]
          }
        },
        "required": ["src"]
      },
      "PDF": {
        "description": "PDF",
        "type": "object",
        "properties": {
          "src": { "type": "string" },
          "title": { "type": "string" }
        },
        "required": ["src"]
      },
      "TagsByVocabularies": {
        "description": "Vocabularies with Tags",
        "type": ["array", "null"],
        "items": { "$ref": "#\/components\/schemas\/VocabularyWithTags" }
      },
      "VocabularyWithTags": {
        "description": "Vocabulary with tags",
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "tags": {
            "type": "array",
            "items": { "$ref": "#\/components\/schemas\/Tag" }
          }
        },
        "required": ["id", "name", "tags"]
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "number" },
          "name": { "type": "string" }
        },
        "required": ["id", "name"]
      }
    },
    "parameters": {
      "articleId": {
        "name": "articleId",
        "description": "Article id",
        "in": "path",
        "schema": { "type": "integer" },
        "required": true
      },
      "articleQueryArchived": {
        "name": "archived",
        "description": "Return archived items",
        "in": "query",
        "schema": { "type": "boolean" }
      },
      "articleQueryCreatedAfter": {
        "name": "createdAfter",
        "description": "Return articles created after given date",
        "in": "query",
        "schema": { "type": "string" }
      },
      "articleQueryCreatedBefore": {
        "name": "createdBefore",
        "description": "Return articles created before given date",
        "in": "query",
        "schema": { "type": "string" }
      },
      "articleQueryParts": {
        "name": "parts",
        "description": "Return given parts (comma separated)",
        "in": "query",
        "schema": {
          "type": "array",
          "items": { "type": "string", "enum": ["content"] }
        }
      },
      "eventId": {
        "name": "eventId",
        "description": "Event id",
        "in": "path",
        "schema": { "type": "integer" },
        "required": true
      },
      "communeId": {
        "name": "communeId",
        "description": "Commune id",
        "in": "path",
        "schema": { "type": "string" },
        "required": true
      },
      "eventQueryEndsAfter": {
        "name": "endsAfter",
        "description": "Return events that end after given date",
        "in": "query",
        "schema": { "type": "string", "format": "date" }
      },
      "eventQueryStartsAfter": {
        "name": "startsAfter",
        "description": "Return events that start after given date",
        "in": "query",
        "schema": { "type": "string", "format": "date" }
      },
      "eventQueryEndsBefore": {
        "name": "endsBefore",
        "description": "Return events that end before given date",
        "in": "query",
        "schema": { "type": "string", "format": "date" }
      },
      "eventQueryParts": {
        "name": "parts",
        "description": "Return given parts (comma separated)",
        "in": "query",
        "schema": {
          "type": "array",
          "items": { "type": "string", "enum": ["flags", "tags", "images"] }
        }
      },
      "albumId": {
        "name": "albumId",
        "description": "Album id",
        "in": "path",
        "schema": { "type": "integer" },
        "required": true
      },
      "addressbookCategoryId": {
        "name": "categoryId",
        "description": "Category id",
        "in": "path",
        "schema": { "type": "integer" },
        "required": true
      },
      "addressbookEntryId": {
        "name": "entryId",
        "description": "Entry id",
        "in": "path",
        "schema": { "type": "integer" },
        "required": true
      },
      "addressbookQueryInclude": {
        "name": "include",
        "description": "Include given fields (comma separated)",
        "in": "query",
        "schema": {
          "type": "array",
          "items": { "type": "string", "enum": ["entries"] }
        }
      },
      "categoryId": {
        "name": "categoryId",
        "description": "category id",
        "in": "path",
        "schema": { "type": "integer" },
        "required": true
      },
      "downloadsQueryInclude": {
        "name": "include",
        "description": "Include given fields (comma separated)",
        "in": "query",
        "schema": {
          "type": "array",
          "items": { "type": "string", "enum": ["downloads"] }
        }
      },
      "bookingPlanQueryFrom": {
        "name": "from",
        "description": "Return days from (including) start of given day",
        "in": "query",
        "schema": { "type": "string", "format": "date" }
      },
      "bookingPlanQueryUntil": {
        "name": "until",
        "description": "Return days before (excluding) start of given day",
        "in": "query",
        "schema": { "type": "string", "format": "date" }
      },
      "groupId": {
        "name": "groupId",
        "description": "Group id",
        "in": "path",
        "schema": { "type": "integer" },
        "required": true
      },
      "transactionId": {
        "name": "transactionId",
        "description": "Transaction id",
        "in": "path",
        "schema": { "$ref": "#\/components\/schemas\/ShopTransactionId" },
        "required": true
      },
      "productId": {
        "name": "productId",
        "description": "Product id",
        "in": "path",
        "schema": { "type": "integer", "exclusiveMinimum": 0 },
        "required": true
      },
      "moduleId": {
        "name": "moduleId",
        "description": "Module id",
        "in": "path",
        "schema": { "type": "integer", "exclusiveMinimum": 0 },
        "required": true
      },
      "limit": {
        "name": "limit",
        "description": "Return up to given number of items",
        "in": "query",
        "schema": { "type": "integer", "exclusiveMinimum": 0 }
      },
      "offset": {
        "name": "offset",
        "description": "Skip given number of items",
        "in": "query",
        "schema": { "type": "integer", "minimum": 0 }
      },
      "order": {
        "name": "order",
        "description": "Order by property (prepend \"-\" to reverse order)",
        "in": "query",
        "schema": { "type": "string" }
      },
      "recursive": {
        "name": "recursive",
        "description": "Return results recursively",
        "in": "query",
        "schema": { "type": ["boolean", "null"] }
      }
    }
  },
  "paths": {
    "\/ping": {
      "get": {
        "tags": ["Ping"],
        "summary": "Ping",
        "description": "Receive a ping, send a pong",
        "operationId": "ping",
        "security": [],
        "responses": {
          "200": {
            "description": "Pong",
            "content": {
              "application\/json": {
                "schema": { "$ref": "#\/components\/schemas\/Pong" },
                "examples": {
                  "pong": { "summary": "Pong", "value": { "ping": "pong" } }
                }
              }
            }
          },
          "4XX": { "description": "Client error" }
        }
      }
    },
    "\/health": {
      "post": {
        "tags": ["Health"],
        "summary": "Health check",
        "operationId": "healthCheck",
        "security": [{ "ApiKey": ["superuser"] }],
        "responses": {
          "200": {
            "description": "API health status",
            "content": {
              "application\/json": {
                "schema": { "$ref": "#\/components\/schemas\/HealthStatus" },
                "examples": {
                  "health": {
                    "summary": "API health status",
                    "value": {
                      "context": "api",
                      "model": {
                        "name": "rheingau",
                        "datastore": "rheingau",
                        "managed": false
                      },
                      "datastore": { "id": "rheingau", "status": "connected" },
                      "user": { "id": 123, "name": "Scott", "superuser": true }
                    }
                  }
                }
              }
            }
          },
          "4XX": { "description": "Client error" }
        }
      }
    },
    "\/cms\/articles\/{moduleId}\/{articleId}": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get article by id",
        "operationId": "getArticle",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "$ref": "#\/components\/parameters\/moduleId" },
          { "$ref": "#\/components\/parameters\/articleId" }
        ],
        "responses": {
          "200": {
            "description": "Article",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "article": { "$ref": "#\/components\/schemas\/Article" }
                  },
                  "required": ["article"]
                },
                "examples": {
                  "article": {
                    "summary": "Article",
                    "value": {
                      "article": {
                        "id": 11645,
                        "module": 1383,
                        "slug": "peter-pan",
                        "title": "Peter Pan",
                        "date": "1983-06-05T00:00:00+02:00",
                        "teaser": "<b>Full-Stack TypeScript & Go<\/b> with a background in <b>Marketing<\/b> and <b>UX-centered Design<\/b> since 2008.",
                        "image": {
                          "src": "http:\/\/kr-media.l.d7c.de\/articles\/images\/img_0182.JPG",
                          "description": "That's me.",
                          "align": null,
                          "srcset": {
                            "small": "http:\/\/kr-media.l.d7c.de\/articles\/images-small\/img_0182.JPG"
                          }
                        },
                        "pdf": {
                          "src": "http:\/\/kr-media.l.d7c.de\/articles\/pdf\/document.pdf",
                          "title": "Curriculum Vitae"
                        },
                        "website": "https:\/\/example.com",
                        "author": null,
                        "content": [
                          {
                            "id": 13356,
                            "title": "Frontend-Engineering",
                            "text": "<b>HTML5<\/b>, <b>CSS3<\/b>, and <b>JavaScript\/TypeScript<\/b> in combination with modern frameworks<br \/>like Vue.js, Svelte.js\/Sveltekit, and pre-processors such as Sass\/SCSS, Less,<br \/>Pug, Handlebars, and the like.",
                            "image": {
                              "src": "http:\/\/kr-media.l.d7c.de\/articles\/images\/dall_e_2024-07-01_11.43.29_-_a_professional_setting_featuring_a_full-stack_developer_workspace_with_typescript_and_go_coding_on_the_screen.jpeg",
                              "description": "A professional setting featuring a full-stack developer workspace with TypeScript and Go coding on the screen.",
                              "align": "left"
                            }
                          },
                          {
                            "id": 20797,
                            "title": "TypeScript-based backend development",
                            "text": "Node.js, Nuxt.js, Express.js, mongoDB, mySQL, Docker etc.<br \/><br \/>Good knowledge of PHP.",
                            "image": null
                          },
                          {
                            "id": 20798,
                            "title": "Web and UI-Design",
                            "text": "Application and interface design and concept work for <b>optimal usability<\/b><br \/>on desktop and mobile devices.",
                            "image": null
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": { "description": "Client error" }
        }
      }
    },
    "\/cms\/articles\/{moduleId}": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get articles by module",
        "operationId": "getArticles",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "$ref": "#\/components\/parameters\/moduleId" },
          { "$ref": "#\/components\/parameters\/limit" },
          { "$ref": "#\/components\/parameters\/offset" },
          { "$ref": "#\/components\/parameters\/order" },
          { "$ref": "#\/components\/parameters\/articleQueryArchived" },
          { "$ref": "#\/components\/parameters\/articleQueryCreatedAfter" },
          { "$ref": "#\/components\/parameters\/articleQueryCreatedBefore" },
          { "$ref": "#\/components\/parameters\/articleQueryParts" }
        ],
        "responses": {
          "200": {
            "description": "Article",
            "content": {
              "application\/json": {
                "schema": { "$ref": "#\/components\/schemas\/Articles" },
                "examples": {
                  "articles": {
                    "summary": "Articles",
                    "value": {
                      "articles": [
                        {
                          "id": 16416,
                          "module": 1383,
                          "slug": "artikel-mit-dem-minimum-an-inhalten",
                          "title": "Artikel mit dem Minimum an Inhalten",
                          "date": "2024-06-21T00:00:00+02:00",
                          "teaser": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
                          "image": null,
                          "pdf": null,
                          "website": null,
                          "author": null
                        },
                        {
                          "id": 15465,
                          "module": 1383,
                          "slug": "artikel-mit-dem-maximum-an-inhalten",
                          "title": "Artikel mit dem Maximum an Inhalten",
                          "date": "2023-02-15T00:00:00+01:00",
                          "teaser": "Kohl, Butter, Sahne \u2013 Dieser Butter Blumenkohl einer pakistanisch-deutschen K\u00f6chin beweist es.",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/articles\/images\/veganes-butter-chicken-rezept-sonntagsessen-teaserbild.jpg",
                            "description": "Veganes Butter Chicken",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/articles\/images-small\/veganes-butter-chicken-rezept-sonntagsessen-teaserbild.jpg"
                            }
                          },
                          "pdf": {
                            "src": "http:\/\/kr-media.l.d7c.de\/articles\/pdf\/veganes_butter_chicken_blumenkohl_der_sich_als_butter_chicken_verkleidet_zeitmagazin.pdf",
                            "title": "Butter Chicken Rezept"
                          },
                          "website": "https:\/\/www.zeit.de\/zeit-magazin\/wochenmarkt\/2023-01\/veganes-butter-chicken-rezept-sonntagsessen",
                          "author": "Eva Biringer"
                        },
                        {
                          "id": 11644,
                          "module": 1383,
                          "slug": "dichter-und-naturforscher",
                          "title": "Dichter und Naturforscher",
                          "date": "2018-03-01T00:00:00+01:00",
                          "teaser": "<b>Johann Wolfgang von Goethe<\/b> war ein deutscher Dichter und Naturforscher. Er gilt als einer der bedeutendsten Sch\u00f6pfer deutschsprachiger Dichtung.",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/articles\/images\/goethe-1409223621169.jpg",
                            "description": "Goethe is cool",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/articles\/images-small\/goethe-1409223621169.jpg"
                            }
                          },
                          "pdf": null,
                          "website": "https:\/\/de.wikipedia.org\/wiki\/Johann_Wolfgang_von_Goethe",
                          "author": "Peter Pan"
                        },
                        {
                          "id": 11645,
                          "module": 1383,
                          "slug": "peter-pan",
                          "title": "Peter Pan",
                          "date": "1990-08-02T00:00:00+02:00",
                          "teaser": "<b>Full-Stack TypeScript & Go<\/b> with a background in <b>Marketing<\/b> and <b>UX-centered Design<\/b> since 2008.",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/articles\/images\/img_0182.JPG",
                            "description": "That's me.",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/articles\/images-small\/img_0182.JPG"
                            }
                          },
                          "pdf": {
                            "src": "http:\/\/kr-media.l.d7c.de\/articles\/pdf\/document.pdf",
                            "title": "Curriculum Vitae"
                          },
                          "website": "https:\/\/example.com",
                          "author": null
                        }
                      ],
                      "meta": { "totalCount": 4 }
                    }
                  }
                }
              }
            }
          },
          "4XX": { "description": "Client error" }
        }
      }
    },
    "\/cms\/events\/{moduleId}\/{eventId}": {
      "get": {
        "tags": ["Events"],
        "summary": "Get event by id",
        "operationId": "getEvent",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "$ref": "#\/components\/parameters\/moduleId" },
          { "$ref": "#\/components\/parameters\/eventId" }
        ],
        "responses": {
          "200": {
            "description": "Event",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": { "$ref": "#\/components\/schemas\/Event" }
                  }
                },
                "examples": {
                  "event": {
                    "summary": "Event",
                    "value": {
                      "event": {
                        "id": 29549,
                        "module": 9,
                        "slug": "fruehlingsfest-auf-dem-vereins-waldacker",
                        "title": "Fr\u00fchlingsfest auf dem Vereins-Waldacker",
                        "teaser": "Fr\u00fchschoppen mit Manfred Krombach um 11:11 Uhr",
                        "description": "- selbstgemachte Maibowle<br \/>- herzhaftes vom Grill<br \/>- Kuchentheke<br \/>- Kinderbelustigung<br \/>- T\u00e4nze unserer Kinder- und Jugend-Garden",
                        "address": null,
                        "starts": "2024-05-01T00:00:00+02:00",
                        "ends": "2024-05-01T23:59:59+02:00",
                        "image": {
                          "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/fruehlingsfestnarhwi.jpg",
                          "description": "Fr\u00fchlingsfest auf dem Vereins-Waldacker",
                          "align": null,
                          "srcset": {
                            "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/fruehlingsfestnarhwi.jpg"
                          }
                        },
                        "pdf": null,
                        "ownerURL": null,
                        "commune": null,
                        "organizer": "Carneval Verein \u201eNarrhalla\u201c Winkel\/Rheingau 1924 e.V.",
                        "coordinates": null
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": { "description": "Client error" }
        }
      }
    },
    "\/cms\/events\/{moduleId}": {
      "get": {
        "tags": ["Events"],
        "summary": "Get events by module",
        "operationId": "getEvents",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "$ref": "#\/components\/parameters\/moduleId" },
          { "$ref": "#\/components\/parameters\/limit" },
          { "$ref": "#\/components\/parameters\/offset" },
          { "$ref": "#\/components\/parameters\/order" },
          { "$ref": "#\/components\/parameters\/eventQueryEndsAfter" },
          { "$ref": "#\/components\/parameters\/eventQueryStartsAfter" },
          { "$ref": "#\/components\/parameters\/eventQueryEndsBefore" },
          { "$ref": "#\/components\/parameters\/eventQueryParts" }
        ],
        "responses": {
          "200": {
            "description": "Event",
            "content": {
              "application\/json": {
                "schema": { "$ref": "#\/components\/schemas\/Events" },
                "examples": {
                  "events": {
                    "summary": "Events",
                    "value": {
                      "events": [
                        {
                          "id": 29549,
                          "module": 9,
                          "slug": "fruehlingsfest-auf-dem-vereins-waldacker",
                          "title": "Fr\u00fchlingsfest auf dem Vereins-Waldacker",
                          "teaser": "Fr\u00fchschoppen mit Manfred Krombach um 11:11 Uhr",
                          "description": "- selbstgemachte Maibowle<br \/>- herzhaftes vom Grill<br \/>- Kuchentheke<br \/>- Kinderbelustigung<br \/>- T\u00e4nze unserer Kinder- und Jugend-Garden",
                          "address": null,
                          "starts": "2024-05-01T00:00:00+02:00",
                          "ends": "2024-05-01T23:59:59+02:00",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/fruehlingsfestnarhwi.jpg",
                            "description": "Fr\u00fchlingsfest auf dem Vereins-Waldacker",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/fruehlingsfestnarhwi.jpg"
                            }
                          },
                          "pdf": null,
                          "ownerURL": null,
                          "commune": null,
                          "organizer": "Carneval Verein \u201eNarrhalla\u201c Winkel\/Rheingau 1924 e.V.",
                          "coordinates": null
                        },
                        {
                          "id": 29550,
                          "module": 9,
                          "slug": "tag-der-offenen-tuer",
                          "title": "Tag der offenen T\u00fcr",
                          "teaser": "Die Feuerwehr Niederwalluf l\u00e4dt herzlich ein zum Tag der offenen T\u00fcr von 11:00 bis 19:30 Uhr.",
                          "description": "In diesem Jahr freuen wir uns ganz besonders, das THW Geisenheim sowie die Fraktionen der Gemeindevertretung Walluf im Floriansweinstand begr\u00fc\u00dfen zu d\u00fcrfen.<br \/> <br \/>Es erwartet Sie ein vielf\u00e4ltiges Programm mit spannenden Vorf\u00fchrungen, Informationen rund um die Arbeit der Feuerwehr und des THW.<br \/> <br \/>F\u00fcr das leibliche Wohl ist bestens gesorgt und auch f\u00fcr unsere kleinen G\u00e4ste gibt es ein abwechslungsreiches Unterhaltungsprogramm.<br \/> <br \/>Wir freuen uns auf Ihren Besuch und auf einen abwechslungsreichen Tag der offenen T\u00fcr bei der Feuerwehr Niederwalluf!<br \/> <br \/>Feuerwehr Niederwalluf, M\u00fchlstrasse 40, 65396 Walluf",
                          "address": null,
                          "starts": "2024-05-09T00:00:00+02:00",
                          "ends": "2024-05-09T23:59:59+02:00",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/feuwhrwallf.jpg",
                            "description": "Tag der offenen T\u00fcr",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/feuwhrwallf.jpg"
                            }
                          },
                          "pdf": null,
                          "ownerURL": null,
                          "commune": "walluf",
                          "organizer": "Feuerwehr Niederwalluf",
                          "coordinates": null
                        },
                        {
                          "id": 29278,
                          "module": 9,
                          "slug": "bierathlon-oestrich",
                          "title": "Bierathlon Oestrich",
                          "teaser": "ab 14:30 Uhr auf dem ehemaligen Koepp-Gel\u00e4nde",
                          "description": "Der Bierathlon ist eine Teamveranstaltung, bei der Gruppen eine Strecke von ca. 6 km laufen. Gewonnen hat das Team, welches als erstes das Ziel erreicht und seine Kiste Bier geleert hat. Entlang der Strecke sind verschiedene Minispiele aufgebaut, bei denen Zeitboni erspielt werden k\u00f6nnen. Abgesehen von dem Sieg des Bierathlons ist es das Ziel der Veranstaltung, eine Zeit der Gemeinschaft zu schaffen. <br \/><br \/>In Oestrich-Winkel bieten sich besonders f\u00fcr die Altersklassen 16-30 Jahre wenig Gruppenangebote an, bei denen Bewegung, Feiern und Verbundenheit im Vordergrund stehen. Genau f\u00fcr diese Altersgruppe und alle, die sonst noch motiviert sind, m\u00f6chten wir gerade nach der Pandemie, bei der speziell solche Veranstaltungen und Feste gelitten haben, die Ortsgemeinschaft wieder vermehrt aufleben lassen.<br \/><br \/>Im Anschluss an den Lauf findet eine Aftershow-Party statt, um den Tag gemeinsam ausklingen zu lassen. Die Teams k\u00f6nnen gemeinschaftlich feiern und Zeit miteinander verbringen.<br \/><br \/>Abgesehen von dem Mehrwert f\u00fcr die Teilnehmenden, planen wir unter dem Motto \u201eTrinken f\u00fcr den guten Zweck\u201c Gro\u00dfteile des Gewinns an Jannis Sternschnuppe e.V., ein gemeinn\u00fctziger Verein, der sich f\u00fcr Kinder und Jugendliche einsetzt, zu spenden.",
                          "address": null,
                          "starts": "2024-05-11T00:00:00+02:00",
                          "ends": "2024-05-11T23:59:59+02:00",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/bierathlon_info.jpg",
                            "description": "Bierathlon Oestrich",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/bierathlon_info.jpg"
                            }
                          },
                          "pdf": null,
                          "ownerURL": null,
                          "commune": "oestrich",
                          "organizer": "Kolpingsfamilie Oestrich",
                          "coordinates": null
                        },
                        {
                          "id": 29618,
                          "module": 9,
                          "slug": "a-cappella-konzert-mit-intermezzo",
                          "title": "A-Cappella-Konzert mit InterMezzo",
                          "teaser": "Am Pfingstsonntag findet um 17.00 Uhr, in der Kirche St. Martin in Oestrich ein Konzert mit dem Vokalensemble \u201eInterMezzo\u201c aus Fulda statt.",
                          "description": "Die 16 S\u00e4ngerinnen und S\u00e4nger des Ensembles widmen sich dem A-cappella-Gesang. Das breitgef\u00e4cherte Repertoire des Kammerchores reicht von anspruchsvoller geistlicher Musik bis hin zu interessanten Pop-Arrangements, z. B. im Stil der Kings Singers. Internationale Vokal-Arrangements aus vielen Stilrichtungen, in vier- bis achtstimmigen S\u00e4tzen, mit ausgefeiltem Chorklang und Solisten dargeboten, begeistern das Publikum und versprechen ein abwechslungsreiches Konzertprogramm.<br \/><br \/>Das st\u00e4ndig variierende Programm des Vokalensembles steht unter dem Titel \u201eA-cappella-Musik von Renaissance bis Pop\u201c und ist voller musikalischer \u00dcberraschungen. Mal ernst, mal heiter werden die Themen des Lebens musikalisch beleuchtet\u2026<br \/><br \/>Dr. Markus Frank Hollingshaus wird das Konzert mit zwei Orgelwerken umrahmen. <br \/><br \/>Der Eintritt zum Konzert ist frei.<br \/>Spendenm\u00f6glichkeit am Ausgang. <br \/><br \/>Am Sonntagmorgen ist das Vokalensemble InterMezzo um 10.30 Uhr bereits im Pfingstgottesdienst im Kloster Marienthal zu h\u00f6ren.",
                          "address": null,
                          "starts": "2024-05-19T00:00:00+02:00",
                          "ends": "2024-05-19T23:59:59+02:00",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/intermezzooe.jpg",
                            "description": "A-Cappella-Konzert mit InterMezzo",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/intermezzooe.jpg"
                            }
                          },
                          "pdf": null,
                          "ownerURL": null,
                          "organizer": null,
                          "coordinates": null
                        },
                        {
                          "id": 29633,
                          "module": 9,
                          "slug": "modellflug-schnupperfliegen",
                          "title": "Modellflug Schnupperfliegen",
                          "teaser": "Von 11 - 16 Uhr k\u00f6nnen Interessierte die Faszination Modellflug live erleben und selbst ein Modellflugzeug in der Luft steuern.",
                          "description": "Teilnehmen k\u00f6nnen Flugbegeisterte ab 7 Jahren! Die Teilnahme ist kostenfrei, mitzubringen ist nur Neugierde und viel gute Laune! <br \/><br \/>Das Schnupperfliegen ist Teil einer Reihe von Veranstaltungen, welche der Aero-Club Oestrich-Winkel e.V. in diesem Jahr durchf\u00fchrt, um Interessierten das faszinierende Hobby des Modellflugs n\u00e4her zu bringen. Und wie k\u00f6nnte das besser gehen, als selbst am Stick ein Flugmodell zu steuern?! Erfahrene Lehrer-Sch\u00fcler-Piloten aus dem Verein stehen mit einer 2. Funksteuerung an Eurer Seite. Es kann also nichts passieren und man kann ganz entspannt seinen Flug genie\u00dfen! <br \/><br \/>Der Termin ist nicht willk\u00fcrlich gew\u00e4hlt: An diesem Wochenende findet auch bundesweit der vom Deutschen Modellflugverband initiierte \u201eTag des Modellflugs\u201c. Schwerpunkt in diesem Jahr ist explizit der Nachwuchs und die Nachwuchsgewinnung. Die Zielgruppe beschr\u00e4nkt sich nicht nur auf Kinder und Jugendliche, sondern altersgruppen\u00fcbergreifend und quer durch alle Gesellschaftsschichten m\u00f6chte man Menschen f\u00fcr das wohl sch\u00f6nste Hobby der Welt gewinnen und begeistern.<br \/><br \/>Interessiert? Wenn ja, dann schnell Eure Anmeldung \u00fcber unsere Homepage.<br \/><br \/>Eine Anfahrtsbeschreibung findet Ihr hier: https:\/\/aeroclub-oestrich-winkel.de\/kontakt\/#anfahrtMit",
                          "address": null,
                          "starts": "2024-06-01T00:00:00+02:00",
                          "ends": "2024-06-01T23:59:59+02:00",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/schnupperfligenaerog0kuuc.jpg",
                            "description": "Modellflug Schnupperfliegen",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/schnupperfligenaerog0kuuc.jpg"
                            }
                          },
                          "pdf": null,
                          "ownerURL": null,
                          "organizer": "Aero-Club Oestrich-Winkel e.V.",
                          "coordinates": null,
                          "flags": ["anmeldung"],
                          "tags": [
                            { "id": 7, "name": "Feste" },
                            { "id": 9, "name": "Musik" },
                            { "id": 10, "name": "Kunst" },
                            { "id": 13, "name": "Unterhaltung" }
                          ]
                        }
                      ],
                      "meta": { "totalCount": 5 }
                    }
                  }
                }
              }
            }
          },
          "4XX": { "description": "Client error" }
        }
      }
    },
    "\/cms\/events\/commune\/{communeId}": {
      "get": {
        "tags": ["Events"],
        "summary": "Get events by commune",
        "operationId": "getEventsByCommune",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "$ref": "#\/components\/parameters\/communeId" },
          { "$ref": "#\/components\/parameters\/limit" },
          { "$ref": "#\/components\/parameters\/offset" },
          { "$ref": "#\/components\/parameters\/order" },
          { "$ref": "#\/components\/parameters\/eventQueryEndsAfter" },
          { "$ref": "#\/components\/parameters\/eventQueryStartsAfter" },
          { "$ref": "#\/components\/parameters\/eventQueryEndsBefore" },
          { "$ref": "#\/components\/parameters\/eventQueryParts" }
        ],
        "responses": {
          "200": {
            "description": "Event",
            "content": {
              "application\/json": {
                "schema": { "$ref": "#\/components\/schemas\/Events" },
                "examples": {
                  "events": {
                    "summary": "Events",
                    "value": {
                      "events": [
                        {
                          "id": 29549,
                          "module": 9,
                          "slug": "fruehlingsfest-auf-dem-vereins-waldacker",
                          "title": "Fr\u00fchlingsfest auf dem Vereins-Waldacker",
                          "teaser": "Fr\u00fchschoppen mit Manfred Krombach um 11:11 Uhr",
                          "description": "- selbstgemachte Maibowle<br \/>- herzhaftes vom Grill<br \/>- Kuchentheke<br \/>- Kinderbelustigung<br \/>- T\u00e4nze unserer Kinder- und Jugend-Garden",
                          "address": null,
                          "starts": "2024-05-01T00:00:00+02:00",
                          "ends": "2024-05-01T23:59:59+02:00",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/fruehlingsfestnarhwi.jpg",
                            "description": "Fr\u00fchlingsfest auf dem Vereins-Waldacker",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/fruehlingsfestnarhwi.jpg"
                            }
                          },
                          "pdf": null,
                          "ownerURL": null,
                          "commune": null,
                          "organizer": "Carneval Verein \u201eNarrhalla\u201c Winkel\/Rheingau 1924 e.V.",
                          "coordinates": null
                        },
                        {
                          "id": 29550,
                          "module": 9,
                          "slug": "tag-der-offenen-tuer",
                          "title": "Tag der offenen T\u00fcr",
                          "teaser": "Die Feuerwehr Niederwalluf l\u00e4dt herzlich ein zum Tag der offenen T\u00fcr von 11:00 bis 19:30 Uhr.",
                          "description": "In diesem Jahr freuen wir uns ganz besonders, das THW Geisenheim sowie die Fraktionen der Gemeindevertretung Walluf im Floriansweinstand begr\u00fc\u00dfen zu d\u00fcrfen.<br \/> <br \/>Es erwartet Sie ein vielf\u00e4ltiges Programm mit spannenden Vorf\u00fchrungen, Informationen rund um die Arbeit der Feuerwehr und des THW.<br \/> <br \/>F\u00fcr das leibliche Wohl ist bestens gesorgt und auch f\u00fcr unsere kleinen G\u00e4ste gibt es ein abwechslungsreiches Unterhaltungsprogramm.<br \/> <br \/>Wir freuen uns auf Ihren Besuch und auf einen abwechslungsreichen Tag der offenen T\u00fcr bei der Feuerwehr Niederwalluf!<br \/> <br \/>Feuerwehr Niederwalluf, M\u00fchlstrasse 40, 65396 Walluf",
                          "address": null,
                          "starts": "2024-05-09T00:00:00+02:00",
                          "ends": "2024-05-09T23:59:59+02:00",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/feuwhrwallf.jpg",
                            "description": "Tag der offenen T\u00fcr",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/feuwhrwallf.jpg"
                            }
                          },
                          "pdf": null,
                          "ownerURL": null,
                          "commune": "walluf",
                          "organizer": "Feuerwehr Niederwalluf",
                          "coordinates": null
                        },
                        {
                          "id": 29278,
                          "module": 9,
                          "slug": "bierathlon-oestrich",
                          "title": "Bierathlon Oestrich",
                          "teaser": "ab 14:30 Uhr auf dem ehemaligen Koepp-Gel\u00e4nde",
                          "description": "Der Bierathlon ist eine Teamveranstaltung, bei der Gruppen eine Strecke von ca. 6 km laufen. Gewonnen hat das Team, welches als erstes das Ziel erreicht und seine Kiste Bier geleert hat. Entlang der Strecke sind verschiedene Minispiele aufgebaut, bei denen Zeitboni erspielt werden k\u00f6nnen. Abgesehen von dem Sieg des Bierathlons ist es das Ziel der Veranstaltung, eine Zeit der Gemeinschaft zu schaffen. <br \/><br \/>In Oestrich-Winkel bieten sich besonders f\u00fcr die Altersklassen 16-30 Jahre wenig Gruppenangebote an, bei denen Bewegung, Feiern und Verbundenheit im Vordergrund stehen. Genau f\u00fcr diese Altersgruppe und alle, die sonst noch motiviert sind, m\u00f6chten wir gerade nach der Pandemie, bei der speziell solche Veranstaltungen und Feste gelitten haben, die Ortsgemeinschaft wieder vermehrt aufleben lassen.<br \/><br \/>Im Anschluss an den Lauf findet eine Aftershow-Party statt, um den Tag gemeinsam ausklingen zu lassen. Die Teams k\u00f6nnen gemeinschaftlich feiern und Zeit miteinander verbringen.<br \/><br \/>Abgesehen von dem Mehrwert f\u00fcr die Teilnehmenden, planen wir unter dem Motto \u201eTrinken f\u00fcr den guten Zweck\u201c Gro\u00dfteile des Gewinns an Jannis Sternschnuppe e.V., ein gemeinn\u00fctziger Verein, der sich f\u00fcr Kinder und Jugendliche einsetzt, zu spenden.",
                          "address": null,
                          "starts": "2024-05-11T00:00:00+02:00",
                          "ends": "2024-05-11T23:59:59+02:00",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/bierathlon_info.jpg",
                            "description": "Bierathlon Oestrich",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/bierathlon_info.jpg"
                            }
                          },
                          "pdf": null,
                          "ownerURL": null,
                          "commune": "oestrich",
                          "organizer": "Kolpingsfamilie Oestrich",
                          "coordinates": null
                        },
                        {
                          "id": 29618,
                          "module": 9,
                          "slug": "a-cappella-konzert-mit-intermezzo",
                          "title": "A-Cappella-Konzert mit InterMezzo",
                          "teaser": "Am Pfingstsonntag findet um 17.00 Uhr, in der Kirche St. Martin in Oestrich ein Konzert mit dem Vokalensemble \u201eInterMezzo\u201c aus Fulda statt.",
                          "description": "Die 16 S\u00e4ngerinnen und S\u00e4nger des Ensembles widmen sich dem A-cappella-Gesang. Das breitgef\u00e4cherte Repertoire des Kammerchores reicht von anspruchsvoller geistlicher Musik bis hin zu interessanten Pop-Arrangements, z. B. im Stil der Kings Singers. Internationale Vokal-Arrangements aus vielen Stilrichtungen, in vier- bis achtstimmigen S\u00e4tzen, mit ausgefeiltem Chorklang und Solisten dargeboten, begeistern das Publikum und versprechen ein abwechslungsreiches Konzertprogramm.<br \/><br \/>Das st\u00e4ndig variierende Programm des Vokalensembles steht unter dem Titel \u201eA-cappella-Musik von Renaissance bis Pop\u201c und ist voller musikalischer \u00dcberraschungen. Mal ernst, mal heiter werden die Themen des Lebens musikalisch beleuchtet\u2026<br \/><br \/>Dr. Markus Frank Hollingshaus wird das Konzert mit zwei Orgelwerken umrahmen. <br \/><br \/>Der Eintritt zum Konzert ist frei.<br \/>Spendenm\u00f6glichkeit am Ausgang. <br \/><br \/>Am Sonntagmorgen ist das Vokalensemble InterMezzo um 10.30 Uhr bereits im Pfingstgottesdienst im Kloster Marienthal zu h\u00f6ren.",
                          "address": null,
                          "starts": "2024-05-19T00:00:00+02:00",
                          "ends": "2024-05-19T23:59:59+02:00",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/intermezzooe.jpg",
                            "description": "A-Cappella-Konzert mit InterMezzo",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/intermezzooe.jpg"
                            }
                          },
                          "pdf": null,
                          "ownerURL": null,
                          "organizer": null,
                          "coordinates": null
                        },
                        {
                          "id": 29633,
                          "module": 9,
                          "slug": "modellflug-schnupperfliegen",
                          "title": "Modellflug Schnupperfliegen",
                          "teaser": "Von 11 - 16 Uhr k\u00f6nnen Interessierte die Faszination Modellflug live erleben und selbst ein Modellflugzeug in der Luft steuern.",
                          "description": "Teilnehmen k\u00f6nnen Flugbegeisterte ab 7 Jahren! Die Teilnahme ist kostenfrei, mitzubringen ist nur Neugierde und viel gute Laune! <br \/><br \/>Das Schnupperfliegen ist Teil einer Reihe von Veranstaltungen, welche der Aero-Club Oestrich-Winkel e.V. in diesem Jahr durchf\u00fchrt, um Interessierten das faszinierende Hobby des Modellflugs n\u00e4her zu bringen. Und wie k\u00f6nnte das besser gehen, als selbst am Stick ein Flugmodell zu steuern?! Erfahrene Lehrer-Sch\u00fcler-Piloten aus dem Verein stehen mit einer 2. Funksteuerung an Eurer Seite. Es kann also nichts passieren und man kann ganz entspannt seinen Flug genie\u00dfen! <br \/><br \/>Der Termin ist nicht willk\u00fcrlich gew\u00e4hlt: An diesem Wochenende findet auch bundesweit der vom Deutschen Modellflugverband initiierte \u201eTag des Modellflugs\u201c. Schwerpunkt in diesem Jahr ist explizit der Nachwuchs und die Nachwuchsgewinnung. Die Zielgruppe beschr\u00e4nkt sich nicht nur auf Kinder und Jugendliche, sondern altersgruppen\u00fcbergreifend und quer durch alle Gesellschaftsschichten m\u00f6chte man Menschen f\u00fcr das wohl sch\u00f6nste Hobby der Welt gewinnen und begeistern.<br \/><br \/>Interessiert? Wenn ja, dann schnell Eure Anmeldung \u00fcber unsere Homepage.<br \/><br \/>Eine Anfahrtsbeschreibung findet Ihr hier: https:\/\/aeroclub-oestrich-winkel.de\/kontakt\/#anfahrtMit",
                          "address": null,
                          "starts": "2024-06-01T00:00:00+02:00",
                          "ends": "2024-06-01T23:59:59+02:00",
                          "image": {
                            "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/schnupperfligenaerog0kuuc.jpg",
                            "description": "Modellflug Schnupperfliegen",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/schnupperfligenaerog0kuuc.jpg"
                            }
                          },
                          "pdf": null,
                          "ownerURL": null,
                          "organizer": "Aero-Club Oestrich-Winkel e.V.",
                          "coordinates": null,
                          "flags": ["anmeldung"],
                          "tags": [
                            { "id": 7, "name": "Feste" },
                            { "id": 9, "name": "Musik" },
                            { "id": 10, "name": "Kunst" },
                            { "id": 13, "name": "Unterhaltung" }
                          ]
                        }
                      ],
                      "meta": { "totalCount": 5 }
                    }
                  }
                }
              }
            }
          },
          "4XX": { "description": "Client error" }
        }
      }
    },
    "\/cms\/events\/commune\/{communeId}\/{eventId}": {
      "get": {
        "tags": ["Events"],
        "summary": "Get event by id and commune",
        "operationId": "getEventByCommune",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "$ref": "#\/components\/parameters\/communeId" },
          { "$ref": "#\/components\/parameters\/eventId" }
        ],
        "responses": {
          "200": {
            "description": "Event",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": { "$ref": "#\/components\/schemas\/Event" }
                  }
                },
                "examples": {
                  "event": {
                    "summary": "Event",
                    "value": {
                      "event": {
                        "id": 29550,
                        "module": 9,
                        "slug": "tag-der-offenen-tuer",
                        "title": "Tag der offenen T\u00fcr",
                        "teaser": "Die Feuerwehr Niederwalluf l\u00e4dt herzlich ein zum Tag der offenen T\u00fcr von 11:00 bis 19:30 Uhr.",
                        "description": "In diesem Jahr freuen wir uns ganz besonders, das THW Geisenheim sowie die Fraktionen der Gemeindevertretung Walluf im Floriansweinstand begr\u00fc\u00dfen zu d\u00fcrfen.<br \/> <br \/>Es erwartet Sie ein vielf\u00e4ltiges Programm mit spannenden Vorf\u00fchrungen, Informationen rund um die Arbeit der Feuerwehr und des THW.<br \/> <br \/>F\u00fcr das leibliche Wohl ist bestens gesorgt und auch f\u00fcr unsere kleinen G\u00e4ste gibt es ein abwechslungsreiches Unterhaltungsprogramm.<br \/> <br \/>Wir freuen uns auf Ihren Besuch und auf einen abwechslungsreichen Tag der offenen T\u00fcr bei der Feuerwehr Niederwalluf!<br \/> <br \/>Feuerwehr Niederwalluf, M\u00fchlstrasse 40, 65396 Walluf",
                        "address": null,
                        "starts": "2024-05-09T00:00:00+02:00",
                        "ends": "2024-05-09T23:59:59+02:00",
                        "image": {
                          "src": "http:\/\/kr-media.l.d7c.de\/events\/images\/feuwhrwallf.jpg",
                          "description": "Tag der offenen T\u00fcr",
                          "align": null,
                          "srcset": {
                            "small": "http:\/\/kr-media.l.d7c.de\/events\/images-small\/feuwhrwallf.jpg"
                          }
                        },
                        "pdf": null,
                        "ownerURL": null,
                        "commune": "walluf",
                        "organizer": "Feuerwehr Niederwalluf",
                        "coordinates": null
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": { "description": "Client error" }
        }
      }
    },
    "\/cms\/gallery\/{moduleId}\/{albumId}": {
      "get": {
        "tags": ["Gallery"],
        "summary": "Get album by id",
        "operationId": "getAlbum",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "$ref": "#\/components\/parameters\/moduleId" },
          { "$ref": "#\/components\/parameters\/albumId" }
        ],
        "responses": {
          "200": {
            "description": "Album",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "album": { "$ref": "#\/components\/schemas\/PhotoAlbum" }
                  },
                  "required": ["album"]
                },
                "examples": {
                  "album": {
                    "summary": "Album",
                    "value": {
                      "album": {
                        "id": 389,
                        "module": 1319,
                        "title": "Bilder aus 2021",
                        "slug": "bilder-aus-2021",
                        "images": [
                          {
                            "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6810\/#er\u00f6ffnung_begehbares_kochbuch_bezirk_in_wallau.jpg",
                            "description": "Er\u00f6ffnung begehbares Kochbuch - Bezirk",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6810_thumb\/"
                            }
                          },
                          {
                            "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6811\/#er\u00f6ffnung_begehbares_kochbuch_wicker_2.jpg",
                            "description": "Er\u00f6ffnung begehbares Kochbuch in Wicker",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6811_thumb\/"
                            }
                          },
                          {
                            "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6812\/#erstes_treffen_nach_corona_juni_2021.jpg",
                            "description": "erstes Treffen nach Corona (Covid 19) Sommer 2021 in Wallau - alles mit Abstand",
                            "align": null,
                            "srcset": {
                              "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6812_thumb\/"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": { "description": "Client error" }
        }
      }
    },
    "\/cms\/gallery\/{moduleId}": {
      "get": {
        "tags": ["Gallery"],
        "summary": "Get albums by module",
        "operationId": "getAlbums",
        "security": [{ "ApiKey": [] }],
        "parameters": [
          { "$ref": "#\/components\/parameters\/moduleId" },
          { "$ref": "#\/components\/parameters\/limit" },
          { "$ref": "#\/components\/parameters\/offset" },
          { "$ref": "#\/components\/parameters\/order" }
        ],
        "responses": {
          "200": {
            "description": "Album",
            "content": {
              "application\/json": {
                "schema": { "$ref": "#\/components\/schemas\/PhotoAlbums" },
                "examples": {
                  "albums": {
                    "summary": "Albums",
                    "value": {
                      "albums": [
                        {
                          "id": 387,
                          "module": 1319,
                          "title": "Bilder aus 2023",
                          "slug": "bilder-aus-2023",
                          "images": [
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6781\/#marktkirche2.jpg",
                              "description": "75. Geburtstag Marktkirche",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6781_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6791\/#vorstand_erbenheim_2023.jpg",
                              "description": "Vorstand Erbenheim 2023",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6791_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6783\/#empfang_rathaus_gruppenbilder.jpg",
                              "description": "Gruppenfoto mit OB Mende beim 75. Geburtstag",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6783_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6793\/#ausflug_kostheim_sept.jpg",
                              "description": "Ausflug Wallauer Landfrauen",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6793_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6784\/#empfang_rathaus_k_luft.jpg",
                              "description": "Teamvorstandsmitglied Kyra Luft",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6784_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6785\/#empfang_rathaus_sekt_\u00e4ltere_jugend.jpg",
                              "description": "Sektempfang 75. Geburtstag",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6785_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6786\/#spenden\u00fcbergabe_tafeln_2.jpg",
                              "description": "Spenden\u00fcbergabe an Tafeln",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6786_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6787\/#empfang_rathaus_pr\u00e4s_a_d_schuster.jpg",
                              "description": "Pr\u00e4sidentin Landesverband a. D. und Mitglied Bezirksvorstand Frankfurt\/Main-Taunus Hildegard Schuster",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6787_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6792\/#vorstand_nordenstadt_2023.jpg",
                              "description": "Vorstand Nordenstadt 2023",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6792_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6788\/#img_0259.jpg",
                              "description": "Vertreterinnenversammlung in Erbenheim",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6788_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6789\/#vorstand_wicker_2023.jpg",
                              "description": "Vorstand Wicker 2023",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6789_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6782\/#alter_und_neuer_vorstand.jpg",
                              "description": "Bezirksvorstand mit ehemaligen und neuen Mitgliedern (es fehlt K. Exner)",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/387\/6782_thumb\/"
                              }
                            }
                          ]
                        },
                        {
                          "id": 388,
                          "module": 1319,
                          "title": "Bilder aus 2022",
                          "slug": "bilder-aus-2022",
                          "images": [
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6796\/#fahrradtour_2022.jpg",
                              "description": "Fahrradtour 2022",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6796_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6797\/#img_0438.jpg",
                              "description": "Ausflug Wallau zum Kr\u00e4utergarten in Marxheim",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6797_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6798\/#planwagenfahrt_3.jpg",
                              "description": "Landfrauen bei einer Planwagenfahrt",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6798_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6799\/#vortrag_einbruchschutz.jpg",
                              "description": "Vortrag Einbruchschutz",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6799_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6800\/#ausflug_ffm_2.jpg",
                              "description": "Ausflug des Bezirks nach Frankfurt",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6800_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6801\/#dt_landfrauentag_fulda.jpg",
                              "description": "Beim Deutschen Landfrauentag in Fulda",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6801_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6802\/#fr\u00fchjahrsempfang_in_wallau_bezirksvorstand.jpg",
                              "description": "Fr\u00fchjahrsempfang des Bezirks",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6802_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6803\/#ausflug_weihnachtliches_frankfurt.jpg",
                              "description": "Ausflug Bezirk ins weihnachtliche Frankfurt",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6803_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6804\/#fr\u00fchjahrsempfang_in_wallau.jpg",
                              "description": "Fr\u00fchjahrsempfang des Bezirks",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6804_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6806\/#img_0542.jpg",
                              "description": "Weihnachtskaffee des Bezirks",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6806_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6807\/#mtk_vereinsempfang.jpg",
                              "description": "Juli - Vereinsempfang der Vereine im Main-Taunus-Kreis",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6807_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6808\/#verkaufsteam.jpg",
                              "description": "Landfrauencaf\u00e9 - Verkaufsteam",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6808_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6809\/#verkaufsteam_2.jpg",
                              "description": "Landfrauencaf\u00e9 mit Kuchentheke",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/388\/6809_thumb\/"
                              }
                            }
                          ]
                        },
                        {
                          "id": 389,
                          "module": 1319,
                          "title": "Bilder aus 2021",
                          "slug": "bilder-aus-2021",
                          "images": [
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6810\/#er\u00f6ffnung_begehbares_kochbuch_bezirk_in_wallau.jpg",
                              "description": "Er\u00f6ffnung begehbares Kochbuch - Bezirk",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6810_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6811\/#er\u00f6ffnung_begehbares_kochbuch_wicker_2.jpg",
                              "description": "Er\u00f6ffnung begehbares Kochbuch in Wicker",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6811_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6812\/#erstes_treffen_nach_corona_juni_2021.jpg",
                              "description": "erstes Treffen nach Corona (Covid 19) Sommer 2021 in Wallau - alles mit Abstand",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/389\/6812_thumb\/"
                              }
                            }
                          ]
                        },
                        {
                          "id": 351,
                          "module": 1319,
                          "title": "Aktivit\u00e4ten der Landfrauen 2019\/2020 - zur Erinnerung an die Zeit vor Corona",
                          "slug": "aktivitaeten-der-landfrauen-2019-2020-zur-erinnerung-an-die-zeit-vor-corona",
                          "images": [
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6446\/#seminar_jan_2019_2.jpg",
                              "description": "Seminar des Bezirksvereins 2019",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6446_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6444\/#2019_herbstarbeitstagung_bezirk.jpg",
                              "description": "Herbstarbeitstagung des Bezirks 2019",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6444_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6445\/#kochen_fingerfood_2019_hochheim.jpg",
                              "description": "Kochen mit dem Bezirksverein in Hochheim",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6445_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6443\/#2019_herbstarbeitstagung_bezirk_abends.jpg",
                              "description": "Herbstarbeitstagung - Geschenk an die Chefin des besichtigten Hofes",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6443_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6452\/#2019_herstellung_erntekrone_neu_1.jpg",
                              "description": "Vorbereitung der Erntedankkrone 2019",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6452_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6441\/#2019_wachstuch_2.jpg",
                              "description": "Wachstuch herstellen 2019",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6441_thumb\/"
                              }
                            },
                            {
                              "src": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6453\/#landfrauen_motto_001.jpg",
                              "description": "",
                              "align": null,
                              "srcset": {
                                "small": "http:\/\/kr-media.l.d7c.de\/gallery\/images\/351\/6453_thumb\/"
                              }
[...]
